body{
    display: flex; /*Bật chế độ Flexbox*/
    flex-direction: column; /*Sắp xếp các item theo hàng dọc*/
    width: 50%;
    gap: 10px; /*Khoảng cách các item trong <body> 10px*/
    font-size: 15px;
}
#form-student{
    border: 1px solid black; /*Viền 1px liền màu đen*/
    display: flex; /*Bật chế độ Flexbox*/
    flex-direction: column; /*Sắp xếp các item theo hàng dọc*/
    padding: 20px;
    gap: 10px; /*Khoảng cách giữa các item là 10px*/
}
.row-form{
    display: flex; /*Bật chế độ Flexbox*/
    justify-content: space-between; /*Item đầu sát trái, item cuối sát phải, ở giữa tự giãn*/
    align-items: flex-start; /*Đẩy các item lên đầu trục dọc*/
}
.column-1-form{
    display: flex; /*Bật chế độ Flexbox*/
    flex-direction: column; /*Sắp xếp các item theo hàng dọc*/
    width: 80px;
    word-break: break-word; /*Chữ quá dài sẽ tự xuống dòng để không tràn layout*/
}
.column-2-form{
    display: flex; /*Bật chế độ Flexbox*/
    flex-direction: column; /*Sắp xếp các item theo hàng dọc*/
    width: 250px;
}
#error-student-name,
#error-student-age,
#error-student-email{
    color: red;
    font-size: 60%;
}
.row-form:last-child{
    justify-content: center;
    gap: 10px; /*Khoảng cách giữa các item là 10px*/
}
input{
    width: 100%;
    box-sizing: border-box; /*width/height bao gồm luôn padding + border*/
}
#table-students{
    border-collapse: collapse; /*Gộp border của table thành 1 đường viền duy nhất.*/
    width: 400px;
}
#table-students th,
#table-students td{
    border: 1px solid black;
    padding: 10px;
}